* {

box-sizing: border-box;
font-family: "helvetica", times, san-serif;
}


body {
font-size : 16px;
color : #fff;
background-color : #8f4a3c;
font-family : Times;
}
ul {
color : red;
}
body p {
font-size : 4em;
font-weight : bold;
}
<!-- startcontent -->
.container-fluid {
border : 2px solid #3f0c1f;
}
div#main-content {
box-shadow : 0 0 50px;
background-color : #3f0c1f;
}
section#body-sec {
padding-right : 15px;
padding-left : 15px;
}

section div p {
font-size : 2em;
}

@media ( min-width : 1200px) {
body {
margin-right : 15px;
margin-left : 15px;
}
}
@media ( min-width : 992px) and (max-width : 1199px) {
body {
margin-right : 15px;
margin-left : 15px;
}
}
@media ( min-width : 768px) and (max-width : 991px){
body {
margin-right : 15px;
margin-left : 15px;
}
}
@media ( min-width : 767px) {
<!-- Header -->
.navbar-brand {
padding-top : 10px;
height : 80px;
}
.navbar-brand h1 { <!-- restaurant name -->
padding-top : 10px;
font-size : 5vw;
}
#collapsable-nav a {
font-size : 1.2em;
}
#collapsable-nav a span {
font-size : 1 em;
margin-right : 5px;
}
body {
margin-right : 15px;
margin-left : 15px;
}
}
@media ( min-width : 479px) {
.navbar-brand h1 {
padding-top : 5px;
font-size : 6vw;
}
body {
margin-right : 15px;
margin-left : 15px;
}
}
<!-- endContent -->
<!-- header -->
#nav-list {
background-color : #4ac2b1;
}
.navbar-brand {
padding-top : 15px;
}

.navbar-brand h1 {
font-family : 'Lora' , sans-serif;
color : #557c3e;
font-size : 1.5em;
text-transform : uppercase;
font-weight : bold;
text-shadow : 1px 1px 1px #222
margin-bottom : 0;
margin-top : 0;
line-height : 0.75;
width : 50%
}
.navbar-brand a:hover, .navbar-brand a:focus {
text-decoration : none;
}

#navlist{
margin-top : 10px;
}
#navlist a{
color : #951c49;
text-align : center;
}
#nav-list a:hover{
background : #e7e7e7;
}
#navlist a span {
font-size : 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
border : 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
clear : both;
margin-top : 30px;
}
<!-- end Header -->